# build output
lib/client/content
build/
*.css.map

# pub
packages
.pub/
#pubspec.lock

# IDE configuration
.idea/
*.sublime-project
*.sublime-workspace

# log files
.project
.buildlog

# temp files
*.*~
.tmp*

# other
*.exe
